{% extends "bootstrap/base.html" %}

{% block title %}注册土木{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{#{% block styles %}#}
{#    {{ super() }}#}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css">#}
{#{% endblock %}#}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">注册土木</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="{{ url_for('main.index') }}">
                            专业知识 <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><p style="color:SteelBlue;">2016年<a href="#"> 上午 </a><a href="#"> 下午 </a></p></li>
                            {#                    使用jinjia2的循环语句，真是方便#}
                            {%- for i in range(13) %}
                                <li><p style="color:SteelBlue;">{{ ((2014-i)~'年') }}<a href="#"> 上午 </a><a href="#">
                                    下午 </a></p></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="{{ url_for('main.index') }}">
                            专业案例 <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><p style="color:SteelBlue;">2016年<a href="#"> 上午 </a><a href="#"> 下午 </a></p></li>
                            {#                    使用jinjia2的循环语句，真是方便#}
                            {%- for i in range(13) %}
                                <li><p style="color:SteelBlue;">{{ ((2014-i)~'年') }}<a href="#"> 上午 </a><a href="#">
                                    下午 </a></p></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
				


{##}
{#                    {% if current_user.is_authenticated %}#}
{#                        <li class="dropdown">#}
{#                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% if current_user.is_authenticated %}{{ current_user.username }}{% else %}未认证{% endif %}<b class="caret"></b></a>#}
{#                            <ul class="dropdown-menu">#}
{#							{% if current_user.is_authenticated %}#}
{#                                <li><a href="{{ url_for('main.index') }}">当前积分  {{ current_user.score }}</a></li>#}
{#								{% endif %}#}
{##}
{#								  {% if current_user.can(Permission.MODERATE_COMMENTS) %}#}
{#                <li><a href="{{ url_for('main.index') }}">管理评论</a></li>#}
{#                {% endif %}#}
{#                                <li><a href="{{ url_for('auth.change_password') }}">更改密码</a></li>#}
{#                                <li><a href="{{ url_for('auth.change_email_request') }}">更改邮箱</a></li>#}
{#                                <li><a href="{{ url_for('auth.logout') }}">退出</a></li>#}
{#                            </ul>#}
{#                        </li>#}
{#                    {% else %}#}

                        <li><a href="{{ url_for('auth.login') }}">登陆</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">退出</a></li>
{#                    {% endif %}#}

                </ul>


            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}

        {% block page_content %}{% endblock %}
    </div>
    	<!-- FOOTER -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        开发者 &copy; 公众号：注册土木
                    </div>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}



{% block scripts %}
    {{ super() }}
    {{ moment.lang("zh-CN") }}
    {{ moment.include_moment() }}
{% endblock %}
